@charset "UTF-8";

/*!
 * reveal.js
 * http://lab.hakim.se/reveal-js
 * MIT licensed
 *
 * Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 */

/*********************************************
 * RESET STYLES
 *********************************************/

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.reveal {
  div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
}

video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.reveal {
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/

html {
  width: 100%;
  height: 100%;
  min-height: 600px;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  min-height: 600px;
  overflow: hidden;
  position: relative;
  line-height: 1;
}

::selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none;
}

@media screen and (max-width: 900px) {
  .reveal {
    font-size: 30px;
  }
}

.reveal {
	.badge {
		width: 45%;
	}
	footer {
	  position: fixed;
	  height: 40px;
	  width: 100%;
	  bottom: 3px;
	  left: 0;
	  z-index: 10;
	  font-size: 35%;
	  text-align: right;
	  background: url('https://s3.amazonaws.com/gdichicago-cdn/reveal.js/css/images/pink-logo.png') no-repeat 5px 0;
	  background-size: auto 100%;
	  .copyright {
	    margin: 15px 5px 0 100px;
	    font-style: italic;
	    a img {
	      vertical-align: middle;
	    }
	  }
	}
}



$pink: #F05B62;
$yellow: #EDAB23;
$green: #92BB44;
$blue: #4BA1C8;
$red: #8B0036;

/*********************************************
* OVERRIDES
**********************************************/

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.blue {
  color: $blue;
}

.green {
  color: $green;
}

.yellow {
  color: $yellow;
}

.pink {
  color: $pink;
}

.red {
  color: $red;
}

/*********************************************
 * HEADERS
 *********************************************/

.reveal {
  h1 {
    font-size: 3.77em;
  }
  h2 {
    font-size: 2.11em;
  }
  h3 {
    font-size: 1.55em;
  }
  h4 {
    font-size: 1em;
  }
  .slides section {
    .fragment {
      opacity: 0;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -ms-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease;
      &.visible {
        opacity: 1;
      }
      &.grow {
        opacity: 1;
        &.visible {
          -webkit-transform: scale(1.3);
          -moz-transform: scale(1.3);
          -ms-transform: scale(1.3);
          -o-transform: scale(1.3);
          transform: scale(1.3);
        }
      }
      &.shrink {
        opacity: 1;
        &.visible {
          -webkit-transform: scale(0.7);
          -moz-transform: scale(0.7);
          -ms-transform: scale(0.7);
          -o-transform: scale(0.7);
          transform: scale(0.7);
        }
      }
      &.roll-in {
        opacity: 0;
        -webkit-transform: rotateX(90deg);
        -moz-transform: rotateX(90deg);
        -ms-transform: rotateX(90deg);
        -o-transform: rotateX(90deg);
        transform: rotateX(90deg);
        &.visible {
          opacity: 1;
          -webkit-transform: rotateX(0);
          -moz-transform: rotateX(0);
          -ms-transform: rotateX(0);
          -o-transform: rotateX(0);
          transform: rotateX(0);
        }
      }
      &.fade-out {
        opacity: 1;
        &.visible {
          opacity: 0;
        }
      }
      &.highlight-red, &.highlight-green, &.highlight-blue {
        opacity: 1;
      }
      &.highlight-red.visible {
        color: #ff2c2d;
      }
      &.highlight-green.visible {
        color: #17ff2e;
      }
      &.highlight-blue.visible {
        color: #1b91ff;
      }
    }
    line-height: 1.2em;
    font-weight: normal;
  }
  img {
    /* preserve aspect ratio and scale image so it's bound within the section */
    max-width: 100%;
    max-height: 100%;
  }
  strong, b {
    font-weight: bold;
  }
  em, i {
    font-style: italic;
  }
  ol, ul {
    display: inline-block;
    text-align: left;
    margin: 0 0 0 1em;
  }
  ol {
    list-style-type: decimal;
  }
  ul {
    list-style-type: disc;
    ul {
      list-style-type: square;
      ul {
        list-style-type: circle;
      }
      display: block;
      margin-left: 40px;
    }
    ol {
      display: block;
      margin-left: 40px;
    }
  }
  ol {
    ol, ul {
      display: block;
      margin-left: 40px;
    }
  }
  p {
    margin-bottom: 10px;
    line-height: 1.25em;
  }
  li {
  	line-height: 1.3em;
  }
  q {
    quotes: none;
  }
  blockquote {
    quotes: none;
    display: block;
    position: relative;
    width: 80%;
    margin: 5px auto;
    padding: 5px;
    font-style: italic;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    &:before {
      content: '\201C';
    }
    &:after {
      content: '\201D';
    }
  }
  q {
    font-style: italic;
    &:before {
      content: '\201C';
    }
    &:after {
      content: '\201D';
    }
  }
  pre {
    display: block;
    position: relative;
    width: 90%;
    margin: 15px auto;
    text-align: left;
    font-size: 0.55em;
    font-family: monospace;
    line-height: 1.2em;
    word-wrap: break-word;
    code {
      box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
      padding: 5px;
    }
  }
  code {
    font-family: monospace;
    overflow: auto;
    max-height: 400px;
  }
  table {
    th, td {
      text-align: left;
      padding-right: .3em;
    }
    th {
      text-shadow: rgb(255, 255, 255) 1px 1px 2px;
    }
  }
  sup {
    vertical-align: super;
  }
  sub {
    vertical-align: sub;
  }
  small {
    display: inline-block;
    font-size: 0.6em;
    line-height: 1.2em;
    vertical-align: top;
    * {
      vertical-align: top;
    }
  }
  .controls {
    display: none;
    position: fixed;
    width: 110px;
    height: 110px;
    z-index: 30;
    right: 10px;
    bottom: 10px;
    div {
      position: absolute;
      opacity: 0.1;
      width: 0;
      height: 0;
      border: 12px solid transparent;
      -webkit-transition: opacity 0.2s ease;
      -moz-transition: opacity 0.2s ease;
      -ms-transition: opacity 0.2s ease;
      -o-transition: opacity 0.2s ease;
      transition: opacity 0.2s ease;
      &.enabled {
        opacity: 0.6;
        cursor: pointer;
        &:active {
          margin-top: 1px;
        }
      }
      &.left {
        top: 42px;
        border-right-width: 22px;
        border-right-color: #eee;
      }
      &.right {
        left: 74px;
        top: 42px;
        border-left-width: 22px;
        border-left-color: #eee;
      }
      &.up {
        left: 42px;
        border-bottom-width: 22px;
        border-bottom-color: #eee;
      }
      &.down {
        left: 42px;
        top: 74px;
        border-top-width: 22px;
        border-top-color: #eee;
      }
    }
  }
  .progress {
    position: fixed;
    display: none;
    height: 3px;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 10;
    &:after {
      content: '';
      display: 'block';
      position: absolute;
      height: 20px;
      width: 100%;
      top: -20px;
    }
    span {
      display: block;
      height: 100%;
      width: 0px;
      -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
      -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
      -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
      -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
      transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    }
  }
  .roll {
    display: inline-block;
    line-height: 1.2;
    overflow: hidden;
    vertical-align: top;
    -webkit-perspective: 400px;
    -moz-perspective: 400px;
    -ms-perspective: 400px;
    perspective: 400px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
    &:hover {
      background: none;
      text-shadow: none;
    }
    span {
      display: block;
      position: relative;
      padding: 0 2px;
      pointer-events: none;
      -webkit-transition: all 400ms ease;
      -moz-transition: all 400ms ease;
      -ms-transition: all 400ms ease;
      transition: all 400ms ease;
      -webkit-transform-origin: 50% 0%;
      -moz-transform-origin: 50% 0%;
      -ms-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    &:hover span {
      background: rgba(0, 0, 0, 0.5);
      -webkit-transform: translate3d(0px, 0px, -45px) rotateX(90deg);
      -moz-transform: translate3d(0px, 0px, -45px) rotateX(90deg);
      -ms-transform: translate3d(0px, 0px, -45px) rotateX(90deg);
      transform: translate3d(0px, 0px, -45px) rotateX(90deg);
    }
    span:after {
      content: attr(data-title);
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      padding: 0 2px;
      -webkit-transform-origin: 50% 0%;
      -moz-transform-origin: 50% 0%;
      -ms-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
      -webkit-transform: translate3d(0px, 110%, 0px) rotateX(-90deg);
      -moz-transform: translate3d(0px, 110%, 0px) rotateX(-90deg);
      -ms-transform: translate3d(0px, 110%, 0px) rotateX(-90deg);
      transform: translate3d(0px, 110%, 0px) rotateX(-90deg);
    }
  }
  .slides {
    position: absolute;
    max-width: 900px;
    width: 80%;
    height: 60%;
    left: 50%;
    top: 50%;
    margin-top: -320px;
    padding: 20px 0px;
    overflow: visible;
    z-index: 1;
    text-align: center;
    -webkit-transition: -webkit-perspective .4s ease;
    -moz-transition: -moz-perspective .4s ease;
    -ms-transition: -ms-perspective .4s ease;
    -o-transition: -o-perspective .4s ease;
    transition: perspective .4s ease;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    -ms-perspective: 600px;
    perspective: 600px;
    -webkit-perspective-origin: 0% 25%;
    -moz-perspective-origin: 0% 25%;
    -ms-perspective-origin: 0% 25%;
    perspective-origin: 0% 25%;
    > section {
      display: none;
      position: absolute;
      width: 100%;
      min-height: 600px;
      z-index: 10;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
      -moz-transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
      -ms-transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
      -o-transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
      transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
      > section {
        display: none;
        position: absolute;
        width: 100%;
        min-height: 600px;
        z-index: 10;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
        -moz-transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
        -ms-transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
        -o-transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
        transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
      }
      &.present {
        display: block;
        z-index: 11;
        opacity: 1;
      }
      margin-left: -50%;
      &.past {
        display: block;
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0);
        -moz-transform: translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0);
      }
      &.future {
        display: block;
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0) rotateY(90deg) translate3d(100%, 0, 0);
        -moz-transform: translate3d(100%, 0, 0) rotateY(90deg) translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0) rotateY(90deg) translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0) rotateY(90deg) translate3d(100%, 0, 0);
      }
      > section {
        &.past {
          display: block;
          opacity: 0;
          -webkit-transform: translate3d(0, -50%, 0) rotateX(70deg) translate3d(0, -50%, 0);
          -moz-transform: translate3d(0, -50%, 0) rotateX(70deg) translate3d(0, -50%, 0);
          -ms-transform: translate3d(0, -50%, 0) rotateX(70deg) translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0) rotateX(70deg) translate3d(0, -50%, 0);
        }
        &.future {
          display: block;
          opacity: 0;
          -webkit-transform: translate3d(0, 50%, 0) rotateX(-70deg) translate3d(0, 50%, 0);
          -moz-transform: translate3d(0, 50%, 0) rotateX(-70deg) translate3d(0, 50%, 0);
          -ms-transform: translate3d(0, 50%, 0) rotateX(-70deg) translate3d(0, 50%, 0);
          transform: translate3d(0, 50%, 0) rotateX(-70deg) translate3d(0, 50%, 0);
        }
      }
    }
  }
  &.concave .slides > section {
    &.past {
      -webkit-transform: translate3d(-100%, 0, 0) rotateY(90deg) translate3d(-100%, 0, 0);
      -moz-transform: translate3d(-100%, 0, 0) rotateY(90deg) translate3d(-100%, 0, 0);
      -ms-transform: translate3d(-100%, 0, 0) rotateY(90deg) translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0) rotateY(90deg) translate3d(-100%, 0, 0);
    }
    &.future {
      -webkit-transform: translate3d(100%, 0, 0) rotateY(-90deg) translate3d(100%, 0, 0);
      -moz-transform: translate3d(100%, 0, 0) rotateY(-90deg) translate3d(100%, 0, 0);
      -ms-transform: translate3d(100%, 0, 0) rotateY(-90deg) translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0) rotateY(-90deg) translate3d(100%, 0, 0);
    }
    > section {
      &.past {
        -webkit-transform: translate3d(0, -80%, 0) rotateX(-70deg) translate3d(0, -80%, 0);
        -moz-transform: translate3d(0, -80%, 0) rotateX(-70deg) translate3d(0, -80%, 0);
        -ms-transform: translate3d(0, -80%, 0) rotateX(-70deg) translate3d(0, -80%, 0);
        transform: translate3d(0, -80%, 0) rotateX(-70deg) translate3d(0, -80%, 0);
      }
      &.future {
        -webkit-transform: translate3d(0, 80%, 0) rotateX(70deg) translate3d(0, 80%, 0);
        -moz-transform: translate3d(0, 80%, 0) rotateX(70deg) translate3d(0, 80%, 0);
        -ms-transform: translate3d(0, 80%, 0) rotateX(70deg) translate3d(0, 80%, 0);
        transform: translate3d(0, 80%, 0) rotateX(70deg) translate3d(0, 80%, 0);
      }
    }
  }
  &.zoom .slides > section {
    -webkit-transition: all 600ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    -moz-transition: all 600ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    -ms-transition: all 600ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    -o-transition: all 600ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    transition: all 600ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    > section {
      -webkit-transition: all 600ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
      -moz-transition: all 600ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
      -ms-transition: all 600ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
      -o-transition: all 600ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
      transition: all 600ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    }
    &.past {
      opacity: 0;
      visibility: hidden;
      -webkit-transform: scale(16);
      -moz-transform: scale(16);
      -ms-transform: scale(16);
      -o-transform: scale(16);
      transform: scale(16);
    }
    &.future {
      opacity: 0;
      visibility: hidden;
      -webkit-transform: scale(0.2);
      -moz-transform: scale(0.2);
      -ms-transform: scale(0.2);
      -o-transform: scale(0.2);
      transform: scale(0.2);
    }
    > section {
      &.past {
        -webkit-transform: translate(0, -150%);
        -moz-transform: translate(0, -150%);
        -ms-transform: translate(0, -150%);
        -o-transform: translate(0, -150%);
        transform: translate(0, -150%);
      }
      &.future {
        -webkit-transform: translate(0, 150%);
        -moz-transform: translate(0, 150%);
        -ms-transform: translate(0, 150%);
        -o-transform: translate(0, 150%);
        transform: translate(0, 150%);
      }
    }
  }
  &.linear .slides > section {
    &.past {
      -webkit-transform: translate(-150%, 0);
      -moz-transform: translate(-150%, 0);
      -ms-transform: translate(-150%, 0);
      -o-transform: translate(-150%, 0);
      transform: translate(-150%, 0);
    }
    &.future {
      -webkit-transform: translate(150%, 0);
      -moz-transform: translate(150%, 0);
      -ms-transform: translate(150%, 0);
      -o-transform: translate(150%, 0);
      transform: translate(150%, 0);
    }
    > section {
      &.past {
        -webkit-transform: translate(0, -150%);
        -moz-transform: translate(0, -150%);
        -ms-transform: translate(0, -150%);
        -o-transform: translate(0, -150%);
        transform: translate(0, -150%);
      }
      &.future {
        -webkit-transform: translate(0, 150%);
        -moz-transform: translate(0, 150%);
        -ms-transform: translate(0, 150%);
        -o-transform: translate(0, 150%);
        transform: translate(0, 150%);
      }
    }
  }
  &.cube .slides {
    -webkit-perspective-origin: 0% 25%;
    -moz-perspective-origin: 0% 25%;
    -ms-perspective-origin: 0% 25%;
    perspective-origin: 0% 25%;
    -webkit-perspective: 1300px;
    -moz-perspective: 1300px;
    -ms-perspective: 1300px;
    perspective: 1300px;
    section {
      padding: 30px;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      &:not(.stack) {
        &:before {
          content: '';
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background: rgba(0, 0, 0, 0.1);
          border-radius: 4px;
          -webkit-transform: translateZ(-20px);
          -moz-transform: translateZ(-20px);
          -ms-transform: translateZ(-20px);
          -o-transform: translateZ(-20px);
          transform: translateZ(-20px);
        }
        &:after {
          content: '';
          position: absolute;
          display: block;
          width: 90%;
          height: 30px;
          left: 5%;
          bottom: 0;
          background: none;
          z-index: 1;
          border-radius: 4px;
          box-shadow: 0px 95px 25px rgba(0, 0, 0, 0.2);
          -webkit-transform: translateZ(-90px) rotateX(65deg);
          -moz-transform: translateZ(-90px) rotateX(65deg);
          -ms-transform: translateZ(-90px) rotateX(65deg);
          -o-transform: translateZ(-90px) rotateX(65deg);
          transform: translateZ(-90px) rotateX(65deg);
        }
      }
    }
    > section {
      &.stack {
        padding: 0;
        background: none;
      }
      &.past {
        -webkit-transform-origin: 100% 0%;
        -moz-transform-origin: 100% 0%;
        -ms-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        -webkit-transform: translate3d(-100%, 0, 0) rotateY(-90deg);
        -moz-transform: translate3d(-100%, 0, 0) rotateY(-90deg);
        -ms-transform: translate3d(-100%, 0, 0) rotateY(-90deg);
        transform: translate3d(-100%, 0, 0) rotateY(-90deg);
      }
      &.future {
        -webkit-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: translate3d(100%, 0, 0) rotateY(90deg);
        -moz-transform: translate3d(100%, 0, 0) rotateY(90deg);
        -ms-transform: translate3d(100%, 0, 0) rotateY(90deg);
        transform: translate3d(100%, 0, 0) rotateY(90deg);
      }
      > section {
        &.past {
          -webkit-transform-origin: 0% 100%;
          -moz-transform-origin: 0% 100%;
          -ms-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
          -webkit-transform: translate3d(0, -100%, 0) rotateX(90deg);
          -moz-transform: translate3d(0, -100%, 0) rotateX(90deg);
          -ms-transform: translate3d(0, -100%, 0) rotateX(90deg);
          transform: translate3d(0, -100%, 0) rotateX(90deg);
        }
        &.future {
          -webkit-transform-origin: 0% 0%;
          -moz-transform-origin: 0% 0%;
          -ms-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
          -webkit-transform: translate3d(0, 100%, 0) rotateX(-90deg);
          -moz-transform: translate3d(0, 100%, 0) rotateX(-90deg);
          -ms-transform: translate3d(0, 100%, 0) rotateX(-90deg);
          transform: translate3d(0, 100%, 0) rotateX(-90deg);
        }
      }
    }
  }
  &.page .slides {
    -webkit-perspective-origin: 0% 50%;
    -moz-perspective-origin: 0% 50%;
    -ms-perspective-origin: 0% 50%;
    perspective-origin: 0% 50%;
    -webkit-perspective: 3000px;
    -moz-perspective: 3000px;
    -ms-perspective: 3000px;
    perspective: 3000px;
    section {
      padding: 30px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      &.past {
        z-index: 12;
      }
      &:not(.stack) {
        &:before {
          content: '';
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background: rgba(0, 0, 0, 0.1);
          -webkit-transform: translateZ(-20px);
          -moz-transform: translateZ(-20px);
          -ms-transform: translateZ(-20px);
          -o-transform: translateZ(-20px);
          transform: translateZ(-20px);
        }
        &:after {
          content: '';
          position: absolute;
          display: block;
          width: 90%;
          height: 30px;
          left: 5%;
          bottom: 0;
          background: none;
          z-index: 1;
          border-radius: 4px;
          box-shadow: 0px 95px 25px rgba(0, 0, 0, 0.2);
          -webkit-transform: translateZ(-90px) rotateX(65deg);
        }
      }
    }
    > section {
      &.stack {
        padding: 0;
        background: none;
      }
      &.past {
        -webkit-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: translate3d(-40%, 0, 0) rotateY(-80deg);
        -moz-transform: translate3d(-40%, 0, 0) rotateY(-80deg);
        -ms-transform: translate3d(-40%, 0, 0) rotateY(-80deg);
        transform: translate3d(-40%, 0, 0) rotateY(-80deg);
      }
      &.future {
        -webkit-transform-origin: 100% 0%;
        -moz-transform-origin: 100% 0%;
        -ms-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
      > section {
        &.past {
          -webkit-transform-origin: 0% 0%;
          -moz-transform-origin: 0% 0%;
          -ms-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
          -webkit-transform: translate3d(0, -40%, 0) rotateX(80deg);
          -moz-transform: translate3d(0, -40%, 0) rotateX(80deg);
          -ms-transform: translate3d(0, -40%, 0) rotateX(80deg);
          transform: translate3d(0, -40%, 0) rotateX(80deg);
        }
        &.future {
          -webkit-transform-origin: 0% 100%;
          -moz-transform-origin: 0% 100%;
          -ms-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
          -webkit-transform: translate3d(0, 0, 0);
          -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }
  &.none .slides section {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }
  &.overview .slides {
    -webkit-perspective: 700px;
    -moz-perspective: 700px;
    -ms-perspective: 700px;
    perspective: 700px;
    section {
      padding: 20px 0;
      max-height: 600px;
      overflow: hidden;
      opacity: 1!important;
      visibility: visible!important;
      cursor: pointer;
      background: rgba(0, 0, 0, 0.1);
      .fragment {
        opacity: 1;
      }
      &:after, &:before {
        display: none !important;
      }
      > section {
        opacity: 1;
        cursor: pointer;
      }
      &:hover {
        background: rgba(0, 0, 0, 0.3);
      }
      &.present {
        background: rgba(0, 0, 0, 0.3);
      }
    }
    > section.stack {
      background: none;
      padding: 0;
      overflow: visible;
    }
  }
  .pause-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }
  &.paused .pause-overlay {
    visibility: visible;
    opacity: 1;
  }
}

.no-transforms {
  overflow-y: auto;
  .slides section {
    display: block!important;
    opacity: 1!important;
    position: relative!important;
    height: auto;
    min-height: auto;
    margin-bottom: 100px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

/*********************************************
 * BACKGROUND STATES
 *********************************************/

.reveal .state-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: background 800ms ease;
  -moz-transition: background 800ms ease;
  -ms-transition: background 800ms ease;
  -o-transition: background 800ms ease;
  transition: background 800ms ease;
}

.alert .reveal .state-background {
  background: rgba(200, 50, 30, 0.6);
}

.soothe .reveal .state-background {
  background: rgba(50, 200, 90, 0.4);
}

.blackout .reveal .state-background {
  background: rgba(0, 0, 0, 0.6);
}

/*********************************************
 * SPEAKER NOTES
 *********************************************/

.reveal aside.notes {
  display: none;
}

/*********************************************
 * ZOOM PLUGIN
 *********************************************/

.zoomed .reveal {
  * {
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    -webkit-backface-visibility: visible !important;
    -moz-backface-visibility: visible !important;
    -ms-backface-visibility: visible !important;
    backface-visibility: visible !important;
    &:before, &:after {
      -webkit-transform: none !important;
      -moz-transform: none !important;
      -ms-transform: none !important;
      transform: none !important;
      -webkit-backface-visibility: visible !important;
      -moz-backface-visibility: visible !important;
      -ms-backface-visibility: visible !important;
      backface-visibility: visible !important;
    }
  }
  .progress, .controls {
    opacity: 0;
  }
  .roll span {
    background: none;
    &:after {
      visibility: hidden;
    }
  }
}