* {
	box-sizing: border-box;
}

body {
	border-top: 6px solid #3c3136; /*Dark brown*/
	color: #3c3136; /*Dark brown*/
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	font-style: normal;
	font-weight: 400;
}

img {
	max-width: 100%;
}

.container {
	max-width: 980px;
	margin: 0 auto;
	position: relative;
	overflow: visible;
}

.brand {
	display: block;
	background: #b19645; /*Gold*/
	width: 80px;
	height: 90px;
	margin-right: 30px;
	padding: 10px;
	float: left;
	text-align: center;
}

nav ul {
	clear: both;
	margin: 0;
	padding: 0;
	list-style: none;
	text-transform: uppercase;
}
nav a {
	background: white;
	padding: .5em;
}

header {
	background: #b19645; /*Gold*/
}

.nav-toggle {
	padding: 8px 12px 4px;
	float: right;
	border: 1px solid #3c3136;
	margin-top: 18px;
}

.phone {
	float: left;
	line-height: 90px;
	padding: 0;
	margin: 0;
}


nav a {
	color: #3c3136;
	text-decoration: none;
	display: block;
}

nav a:hover {
	color: #3c3136;
}

.hero {
	background: #3c3136;
	max-height: 350px;
	min-height: 250px;
	text-align: center;
}

.hero img {
	margin: 0 auto;
}

.main {
	background: #faf3de;
}

.col {
	padding: 0 1.3em;
}

/* Tablet and up */

@media (min-width: 768px){
	body {
		border-top: 14px solid #3c3136; /*Dark brown*/
	}
	header {
		background: #faf3de; /* Beige */
	}
	.brand {
		float: none;
		padding-top: 15px;
		position: relative;

	}
	.brand:after {
	  content: "";
	  position: absolute;
	  left: 0;
	  top: 100%;
	  width: 0;
	  height: 0;
	  border-bottom: 32px solid rgba(255, 255, 255, 0);
	  border-left: 86px solid #b19645;
	  border-right: 86px solid #b19645;
		/* Smooths jagged edges in Chrome - http://stackoverflow.com/questions/7394872/how-do-i-make-a-css-triangle-with-smooth-edges*/
	  -webkit-transform: rotate(0.01deg);
	}
	nav {
		position: absolute;
		bottom: 0;
	}
	.nav-main {
		right: 100px;
	}
	.nav-social {
		right: 0;
	}
	nav {
		font-size: 1.1em;
	}
	nav li {
		display: inline-block;
	}
	nav a {
		background: none;
	}
	.brand {
		width: 172px;
		height: 150px;
	}
	.nav-toggle {
		display: none;
	}
	.phone {
		float: none;
		position: absolute;
		top: -14px;
		right: 0;
		background: #b19645; /*Gold*/
		margin: 0;
		padding: .5em 1em;
		z-index: 1000;
		line-height: 1;
	}
	/*Javascript helper -- we always want our nav to show at this size*/
		#navMain, #navSocial {
		display: block!important;
	}
}


/* Desktop and up */
@media (min-width: 992px) {
	nav {
		font-size: 1.25em;
	}
}
